.blog-h2 {
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  line-height: 2rem;
  letter-spacing: 1px;
}

.blog-para {
  font-size: 18px;
  margin: 20px;
  color: #b1b1b1;
  line-height: 1.8rem;
}

.credit {
  text-align: center;
}

img {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-body {
  width: 80vw;
  margin: auto;
}
