@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: monospace, sans-serif;
}

h1,h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  line-height: 1rem;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #151515;
}

::-webkit-scrollbar-thumb {
  background: #069;
}

::-webkit-scrollbar-thumb:hover {
  background: #069aed;
}

html {
  scroll-behavior: smooth;
}

.fadeIn {
  animation: fadeIn 1200ms ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#home-bg {
background-image: url("../assets/spacetravel.gif");
}
